<%- include('./partials/header') %>

<section class="welcome">
    <div class="row welcome__row">
        <div class="col-3"></div>
            <div class="col-6 welcome__content">
                <p class="welcome__content__header">Cut Through</p>
                <p class="welcome__content__header">The Red Tape</p>
                <hr class="welcome__content__divider">
                <p class="welcome__content__text">Some would have you believe that it is all about the heat... We would like to present our challenge to that notion. 
                <p class="welcome__content__text">Our sauce brings flavor up to the level of the heat, because how peppers taste is just as important of a sensation as the searing lash of their heat!</p>
            </div>
        <div class="col-3"></div>
    </div>
</section>

<div class="section-stripe--tertiary"></div>
<div class="section-stripe--primary"></div>
<div class="section-stripe--tertiary"></div>

<section class="first">
    <div class="row first__row">
        <div class="col-3"></div>
        <div class="col-6 first__row__content">
            <div class="row">
                <div class="col-4">
                    <img class="first__row__content__logo" src='./img/contraband-logo-420px.png'>
                </div>
                <div class="col-8 first__row__content__textspace">
                    <p class="first__row__content__text">Welcome to Contraband! Located in the heart of the Whatever Valley, Contraband has been growing some of the finest peppers you ever laid your tastebuds upon for over 50 years.</p>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</section>

<div class="section-stripe--tertiary"></div>
<div class="section-stripe--primary"></div>
<div class="section-stripe--tertiary"></div>

<section class="second">
    <div class="row second__row">
        <div class="col-3 second__row__left"></div>
        <div class="col-6 second__row__content">
            <div class="second__row__content__textspace">
                <p class="second__row__content__text">SOME COOL SHIT RIGHT HERE</p>
            </div>
        </div>
        <div class="col-3 second__row__right"></div>
    </div>
</section>

<div class="section-stripe--tertiary"></div>
<div class="section-stripe--primary"></div>
<div class="section-stripe--tertiary"></div>

<section class="third">
    <div class="row third__row">
        <div class="col-3 third__row__left"></div>
        <div class="col-6 third__row__content">
            <div class="third__row__content__textspace">
                <p class="third__row__content__text">SOME OTHER COOL SHIT RIGHT HERE</p>
            </div>
        </div>
        <div class="col-3 third__row__right"></div>
    </div>
</section>

<div class="section-stripe--tertiary"></div>
<div class="section-stripe--primary"></div>
<div class="section-stripe--tertiary"></div>

<%- include('./partials/footer') %>