<%- include('./partials/header') %>

<div class="container-fluid welcome">
    <div class="row welcome__row">
        <div class="col-3"></div>
            <div class="col-6 welcome__content">
                <p class="welcome__header">HELLO WORLD</p>
                <hr>
                <p class="welcome__text">Welcome to sauce.</p>
            </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container-fluid main">
    <div class="row main__row">
        <div class="col-3"></div>
        <div class="col-6 main___content">
            <img src='./img/contraband-logo-420px.png' width="320px">
        </div>
        <div class="col-3"></div>
    </div>
</div>

<%- include('./partials/footer') %>