<%- include('./partials/header') %>

<div class="container-fluid welcome">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="welcome__content">
                <p class="welcome__header">HELLO WORLD</h4>
                <hr class="welcome__bottom-line">
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <div class="col-3"></div>
    </div>
</div>

<%- include('./partials/footer') %>