$color-background: rgb(245,245,200)
$font-headers: 24px Helvetica, sans-serif
$font-copy: 12px Helvetica, sans-serif
    
.welcome
    background-color: $color-background

    &__header
        font: $font-headers

    &__text
        font: $font-copy

    // &__background
    //     background-image: url('')
