.navi__link, .navi__link:hover, .footer__center__link, .footer__center__link:hover {
  text-decoration: none;
}

.navi, .welcome, .first, .first__row__content__textspace, .second, .second__row__content, .second__row__content__textspace, .third, .third__row__content, .third__row__content__textspace, .footer, .footer__left, .footer__center, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome__row, .first__row, .second__row, .third__row, .footer__row {
  width: 100%;
}

body {
  font: 12px nudista-web, sans-serif;
  position: relative;
  padding-bottom: 12em;
}

.navi {
  background-color: #f8485e;
  height: 5em;
  font: 12px nudista-web, sans-serif;
}

.navi__logospace {
  position: absolute;
  top: 0em;
  left: 0em;
  margin: 0.5em 0 0 1em;
}

.navi__logotype {
  height: 6em;
  width: auto;
}

.navi__link-list {
  margin: auto;
  padding: 0em;
}

.navi__item {
  display: inline;
  padding: 1em 3em;
}

.navi__link {
  font: bold 24px nudista-web, sans-serif;
  color: #fedd00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navi__link:hover {
  color: white;
}

.navi__link-divider {
  font: bold 24px nudista-web, sans-serif;
  color: #74d1ea;
}

.welcome {
  height: 50em;
  width: 100%;
  background-image: url(/img/peppers-person.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}

.welcome__content {
  width: 100%;
  padding: 3em 3em;
  text-align: center;
}

.welcome__content__header {
  font: 400 84px modesto-text, serif;
  color: #fffffa;
  text-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
}

.welcome__content__text {
  font: 24px nudista-web, sans-serif;
  color: #fffffa;
  padding: 0em 4em;
  text-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
}

.welcome__content__divider {
  border: 1px solid #fedd00;
  margin: 3em 3em;
}

.section-stripe--primary {
  background-color: #f8485e;
  height: 0.4em;
}

.section-stripe--secondary {
  background-color: #74d1ea;
  height: 0.4em;
}

.section-stripe--tertiary {
  background-color: #fedd00;
  height: 0.4em;
}

.section-stripe--white {
  background-color: white;
  height: 0.4em;
}

.first {
  padding: 5em 0em;
  width: 100%;
}

.first__row__content {
  width: 100%;
  padding: 5em 5em;
  background-color: #222226;
  border-radius: 1em;
}

.first__row__content__logo {
  max-width: 100%;
  max-height: 100%;
}

.first__row__content__text {
  color: white;
  font: 24px nudista-web, sans-serif;
  line-height: 1.5em;
}

.second {
  width: 100%;
}

.second__row {
  height: 30em;
}

.second__row__left {
  background-color: #74d1ea;
}

.second__row__content {
  width: 100%;
  padding: 0em;
  background-color: #74d1ea;
}

.second__row__content__text {
  color: #fedd00;
  font: normal 400 48px modesto-text, serif;
}

.second__row__right {
  background-color: #74d1ea;
}

.third {
  width: 100%;
}

.third__row {
  height: 30em;
}

.third__row__left {
  background-color: white;
}

.third__row__content {
  width: 100%;
  padding: 0em;
  background-color: white;
}

.third__row__content__text {
  color: #f8485e;
  font: normal 400 48px modesto-text, serif;
}

.third__row__right {
  background-color: white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  height: 12em;
  background-color: #222226;
}

.footer__center__link-list {
  list-style: none;
  margin: auto;
  padding: 1em 0;
}

.footer__center__link {
  font: bold 16px nudista-web, sans-serif;
  color: #fedd00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__center__link:hover {
  color: #74d1ea;
}

.footer__center__link::before {
  content: "\2022";
  color: #f8485e;
  font-weight: bold;
  display: inline-block;
  width: 0.75rem;
  margin-left: -1em;
}

.footer__right__copyright {
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */